@import "@/app/globals.scss";

.container {
  height: 6.875rem;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: $gray;
  display: flex;
  justify-content: center;
  gap: 3.7rem;

  @include mobile {
    height: 4.75rem;
  }

  p {
    cursor: pointer;
    color: $red;

    &.disabled {
      color: $dark-gray;
      pointer-events: none;
    }

    @include mobile {
      font-size: 0.938rem;
    }
  }

  .pages {
    display: flex;
    gap: 1rem;

    .pageBullet {
      background-color: $dark-gray;
      height: 0.469rem;
      width: 0.469rem;
      border-radius: 50%;
      cursor: pointer;

      @include mobile {
        height: 0.313rem;
        width: 0.313rem;
      }

      &.currentPage {
        background-color: $red;
      }
    }
  }
}
