@import "@/app/globals.scss";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1.25rem 1.5rem;
    align-items: center;
    border-radius: 2px;
    margin-bottom: 1.75rem;
    cursor: pointer;

    svg {
      color: $dark-gray;

      @include mobile {
        font-size: 1rem;
      }
    }

    h3,
    p {
      margin: 0;
    }

    h3 {
      font-size: 1.625rem;

      @include mobile {
        font-size: 1.125rem;
      }

      &.variantTitle {
        color: $blue;
        font-size: 1.563rem;

        @include mobile {
          font-size: 1rem;
        }
      }
    }

    p {
      color: $blue;
      font-family: $futuraHv;

      @include mobile {
        font-size: 1rem;
      }
    }
  }

  .body {
    border-radius: 2px;
    background-color: $gray;
    padding: 1.8rem 2.325rem;
    margin-bottom: 1.75rem;
    overflow: hidden;

    @include mobile {
      padding: 0.875rem 0.75rem 0 0.75rem;
    }
  }
}
