@import "@/app/globals.scss";

.sectionContainer {
  position: relative;
}

.generalContainer {
  height: 47.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.cardsContainer {
    h2 {
      color: $blue;
      font-size: $titleLg;
      margin: 0;
    }

    p {
      margin: 1rem 0 4.8rem 0;
      font-size: $pMd;
    }

    .productCards {
      width: 100%;
      max-width: 57.5rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      box-sizing: border-box;
      gap: 3.75rem;
    }
  }

  &.carouselContainer {
    .contents {
      width: 76.7%;

      select {
        width: 100%;
      }
    }
  }
}
