@import "@/app/globals.scss";

.sectionContainer {
  position: relative;
  overflow-x: hidden;
  background-color: $light-gray;
}

.generalContainer {
  position: relative;
  height: 47.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.cardsContainer {
    h2 {
      color: $blue;
      font-size: $titleMd;
      margin: 0;
    }

    p {
      margin: 1rem 0 4.8rem 0;
      font-size: $pMd;
    }

    .productCards {
      width: 100%;
      max-width: 57.5rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      box-sizing: border-box;
      gap: 3.75rem;
    }
  }

  &.carouselContainer {
    position: relative;

    .dropdownControls {
      position: relative;
    }

    .contents {
      width: 76.7%;
    }

    .thumbnails {
      width: 100vw;
      display: flex;
      justify-content: center;
      gap: 1.375rem;
      padding: 1rem 0;
      box-sizing: border-box;
      margin-top: 2.25rem;
      background-color: $gray;
    }
  }
}
