@import "@/app/globals.scss";

.button {
  background-color: white;
  border: none;
  font-size: $pMd;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  width: fit-content;
  white-space: nowrap;

  @include tablet {
    font-size: 1rem;
    padding: 7.3px;
  }

  @include mobile {
    font-size: 1rem;
  }

  &.paddingSm {
    padding: 3px 10px;
  }

  &.blueFont {
    color: $blue;
  }

  &.redFont {
    color: $red;
  }

  &.redBody {
    color: white;
    background-color: $red;
  }
}
