@import "@/app/globals.scss";

.button {
  background-color: white;
  border: none;
  font-size: $pMd;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  width: fit-content;

  &.blueFont {
    color: $blue;
  }

  &.redFont {
    color: $red;
  }

  &.redBody {
    color: white;
    background-color: $red;
  }
}
