@import "@/app/globals.scss";

.sectionContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: $light-gray;
  min-height: 100vh;

  @include mobile {
    flex-direction: column-reverse;
  }

  .backgroundImg {
    position: relative;
    flex-grow: 1;
    width: 39.75rem;
    height: 68.5rem;

    @include mobile {
      height: 19.375rem;
      width: 100%;
    }
  }
  .contents {
    box-sizing: border-box;
    padding: 4rem 6.625rem 7.75rem 6.625rem;
    width: 56%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include mobile {
      padding: 3rem 2rem 7.75rem 2rem;
      width: 100%;
    }
  }
}
