@import "@/app/globals.scss";

.sectionContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: $light-gray;
  min-height: 100vh;

  @include mobile {
    flex-direction: column-reverse;
  }

  .backgroundImgStickyContainer {
    position: fixed;
    top: 0;
    right: 0;

    &.offset {
      top: 150px;
    }

    @include mobile {
      position: static;
    }
  }

  .backgroundImg {
    position: relative;
    width: 39.75rem;
    height: 100vh;

    @include mobile {
      height: 19.375rem;
      width: 100%;
    }
  }
  .contents {
    box-sizing: border-box;
    padding: 4rem 44% 7.75rem 6.625rem;
    width: 100%;
    display: flex;
    // justify-content: center;
    flex-direction: column;

    @include mobile {
      padding: 3rem 2rem 7.75rem 2rem;
      width: 100%;
    }
  }
}
