@import "@/app/globals.scss";

.sectionContainer {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  background-color: $light-gray;
  min-height: 100vh;

  @include mobile-and-tablet {
    flex-direction: column-reverse;
  }

  .backgroundImgStickyContainer {
    position: fixed;
    top: 0;
    left: 0;

    @include mobile-and-tablet {
      width: 100%;
    }
  }

  .backgroundImg {
    position: relative;
    width: 39.75rem;
    height: 100vh;

    @include tablet {
      padding-top: $stickyHeaderPadding;
      height: calc(20rem + $stickyHeaderPadding);
    }

    @include mobile {
      height: calc(19.37rem + $stickyHeaderPadding);
    }

    @include mobile-and-tablet {
      width: 100%;
    }
  }
  .contents {
    box-sizing: border-box;
    padding: 4rem 6.625rem 7.75rem 6.625rem;
    width: calc(100% - 39.75rem);
    display: flex;
    flex-direction: column;

    @include tablet {
      margin-top: calc(20rem + $stickyHeaderPadding);
    }

    @include mobile-and-tablet {
      background-color: $light-gray;
      z-index: 2;
      padding: 3rem 2rem 7.75rem 2rem;
      width: 100%;
    }
  }
}
