@import "@/app/globals.scss";

.container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  position: relative;
  overflow: hidden;

  &.left {
    flex-direction: row;
    height: 41.25rem;

    @include mobile {
      height: 47.375rem;
      flex-direction: column-reverse;
    }
  }

  &.right {
    flex-direction: row-reverse;
    height: 47.5rem;

    &.landing {
      @include tablet {
        flex-direction: row-reverse;
        height: 47.5rem;
      }
      @include mobile {
        height: max-content;
        flex-direction: column-reverse;
      }
    }

    @include mobile-and-tablet {
      height: max-content;
      flex-direction: column-reverse;
    }
  }

  .sectionContent {
    position: relative;
    height: 100%;
    box-sizing: border-box;

    &.left {
      width: 40%;

      @include tablet {
        width: 90%;
      }

      @include mobile {
        width: 100%;
        height: 25rem;
      }

      button {
        @include tablet {
          width: 85%;
          white-space: wrap;
        }
      }
    }

    &.right {
      width: 44%;

      &.landing {
        @include tablet {
          height: 100%;
          width: 49%;
        }
        @include mobile {
          height: 34.25rem;
          width: 100%;
        }
      }

      @include mobile-and-tablet {
        height: 34.25rem;
        width: 100%;
      }
    }

    .textContent {
      position: relative;
      display: flex;
      box-sizing: border-box;
      height: 100%;
      z-index: 1;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;

      @include mobile {
        justify-content: flex-start;
      }

      &.left {
        background-color: $blue-tlbg;
        padding: 7rem 9.5rem 7rem 7.125rem;

        @include tablet {
          padding: 7rem 4.25rem 7rem 3.75rem;
        }

        @include mobile {
          padding: 2.625rem 0 0 2.375rem;
        }

        h2 {
          width: 150%;

          @include tablet {
            max-width: 100%;
          }
        }
      }

      &.right {
        background-color: $red-tlbg;
        padding: 7rem 8rem 7rem 9.5rem;

        &.landing {
          @include tablet {
            padding: 5.375rem 4.75rem 5rem 5.625rem;
          }
          p {
            max-width: 21.125rem;
            margin-bottom: 0;
          }

          @include mobile {
            padding: 6.875rem 0 0 2.375rem;

            p {
              max-width: 17.375rem;
              margin-bottom: 6.875rem;
            }
          }
        }

        @include mobile {
          padding: 6.875rem 0 0 2.375rem;

          p {
            max-width: 17.375rem;
            margin-bottom: 6.875rem;
          }
        }
      }
    }

    .text {
      color: white;
      text-overflow: clip;
      h2 {
        font-size: 3rem;
        font-family: $futuraHv;
        width: 125%;
        white-space: wrap;
        margin-bottom: 1.25rem;

        @include tablet {
          font-size: 2.25rem;
        }

        @include mobile {
          margin-top: 0;
          font-size: 2rem;
          max-width: 84.9%;
        }
      }

      p {
        font-size: $pMd;
        max-width: 20.25rem;

        @include tablet {
          font-size: 1.125rem;
        }

        @include mobile {
          font-size: 1rem;
          margin-bottom: 4.875rem;
        }
      }
    }

    .backgroundImage {
      z-index: 0;
    }
  }

  .coverImage {
    position: relative;
    width: 60%;
    height: 100%;
    background-color: $light-gray;

    &.notLanding {
      @include mobile-and-tablet {
        width: 100%;
        height: 22.375rem;

        &.largeCover {
          height: 27.25rem;
        }
      }
    }

    @include mobile {
      width: 100%;
      height: 22.375rem;

      &.largeCover {
        height: 27.25rem;
      }
    }

    .backgroundImage {
      z-index: 0;
    }
  }
}
