@import "@/app/globals.scss";

.container {
  display: flex;
  position: relative;
  padding: 0 8.25rem;
  align-items: center;

  @include mobile {
    padding: 0;
    justify-content: center;
  }

  h1,
  h2 {
    color: white;
    font-family: $futuraHv;
    z-index: 2;
  }

  h1 {
    font-size: $titleMd;
  }

  h2 {
    font-size: 2rem;

    @include mobile {
      font-size: $pMd;
    }
  }

  &.default {
    height: $subHeaderHeight;
  }

  .tlCover {
    display: flex;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $blue;
    opacity: 0.8;
    z-index: 1;
  }

  .backgroundImage {
    z-index: 0;
  }
}
