.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 4.375rem 4.25rem 0 4.25rem;
  box-sizing: border-box;

  .arrowControl {
    transform: translateY(1.5rem);

    svg {
      color: white;
      height: 2.5rem;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
