@import "@/app/globals.scss";

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 2rem 4.25rem 0 4.25rem;
  box-sizing: border-box;

  @include tablet {
    padding: 2.5rem 3.375rem 0 3.375rem;
  }

  @include mobile {
    padding: 3rem 1.25rem 0 1.25rem;

    :first-child {
      &.arrowControl {
        transform: translate(-0.6rem, 0.7rem);
      }
    }

    :last-child {
      &.arrowControl {
        transform: translate(0.6rem, 0.7rem);
      }
    }
  }

  .arrowControl {
    transform: translateY(1.6rem);

    svg {
      color: white;
      height: 2.5rem;
      cursor: pointer;

      @include tablet {
        height: 2rem;
      }

      @include mobile {
        height: 1.4rem;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
