@import "@/app/globals.scss";

.container {
  display: flex;
  position: relative;
  height: 16.875rem;
  width: 16.5rem;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 1.625rem;
  padding-bottom: 1.4rem;
  cursor: pointer;

  @include mobile {
    box-sizing: border-box;
    padding-left: 1.05rem;
    padding-bottom: 0.938rem;
    width: 10.75rem;
    height: 14.75rem;
  }

  h3 {
    z-index: 1;
    color: white;
    margin: 0;
    font-size: 1.425rem;
    font-family: $futuraLt;
    font-weight: 100;

    span {
      &.bottomLine {
        font-family: $futuraMd;
      }
    }

    @include mobile {
      font-size: 1rem;
    }
  }

  .backgroundImage {
    z-index: 0;
  }
}
