@import "@/app/globals.scss";

.container {
  .content {
    display: flex;
    height: 42.625rem;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    padding: 4.5rem 6.25rem;

    @include tablet {
      height: 33.625rem;
      padding: 3.375rem 3.625rem;
    }

    @include mobile {
      height: 39.375rem;
      padding: 0 2.75rem 4.875rem 2.75rem;
    }

    h1,
    p {
      color: white;
      z-index: 1;
      margin: 0;
      max-width: 47.375rem;
    }

    p {
      font-size: $pMd;

      @include tablet {
        max-width: 36rem;
        font-size: 1.125rem;
      }
      @include mobile {
        max-width: 19.875rem;
        font-size: 1rem;
      }
    }

    h1 {
      font-size: $titleMd;
      font-family: $futuraMd;
      font-weight: lighter;
      max-width: 30.75rem;
      margin-bottom: 1rem;

      @include tablet {
        max-width: 24.25rem;
        font-size: 2.25rem;
      }

      @include mobile {
        font-size: 2rem;
      }
    }
  }
}
