@import "@/app/globals.scss";

$sectionHeight: 47.625rem;

.sectionContainer {
  box-sizing: border-box;
  margin: 0;
  background-color: white;
  height: $sectionHeight;

  .sectionTitle {
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    h2 {
      color: $blue;
      font-family: $futuraMd;
      font-size: $h2Md;
      font-weight: lighter;
      margin: 0;
    }

    p {
      max-width: 36.25rem;
      margin: 0;
      font-size: $pMd;
    }
  }

  .sectionCards {
    height: 50%;
    position: relative;

    .backgroundStripe {
      position: absolute;
      display: flex;
      top: 0;
      left: 0;
      width: 100%;
      height: $sectionHeight / 4;

      .tlCover {
        display: flex;
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: $sectionHeight / 4;
        background-color: $red;
        opacity: 0.7;
        z-index: 1;
      }

      .backgroundImage {
        z-index: 0;
      }
    }

    .imageCards {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
      gap: 3.725rem;
      transform: translateY(-3rem);
      position: relative;
      z-index: 2;
    }
  }
}
