@import "@/app/globals.scss";

.sectionContainer {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 41.25rem;
  position: relative;
  overflow: hidden;
  justify-content: flex-end;

  @include mobile {
    padding-top: 5.625rem;
    align-items: start;
    height: 40rem;
  }

  .sectionContent {
    color: white;
    margin: 0;
    position: relative;
    width: 50%;
    z-index: 2;

    @include mobile {
      width: 100%;
    }

    .content {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
      padding: 0 7.5rem;
      text-align: start;

      @include mobile {
        padding: 0 0 0 2.65rem;
      }

      h2 {
        font-size: $h2Sp;
        line-height: 52px;
        font-family: $futuraMd;
        font-weight: lighter;

        @include mobile {
          line-height: 37px;
          font-size: 2rem;
          max-width: 16.625rem;
          margin: 0;
        }
      }

      p {
        font-size: $pMd;
        max-width: 30rem;

        @include mobile {
          margin-top: 1.313rem;
          margin-bottom: 0;
          font-size: 1rem;
          max-width: 16rem;
        }
      }

      p:last-of-type {
        width: 100%;
        font-size: 1.875rem;
        text-align: start;
        font-family: $futuraHv;

        @include mobile {
          font-size: 1.3rem;
          width: 21.375rem;
          white-space: nowrap;
          margin: 2.75rem 0 1.5rem 0;
        }
      }
    }
  }

  .backgroundImage {
    z-index: 0;
  }
}
