@import "@/app/globals.scss";

.sectionContainer {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 41.25rem;
  position: relative;
  overflow: hidden;
  justify-content: flex-end;

  .sectionContent {
    color: white;
    margin: 0;
    position: relative;
    width: 50%;
    z-index: 2;

    .content {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
      padding: 0 7.5rem;
      text-align: start;

      h2 {
        font-size: $h2Sp;
        line-height: 52px;
        font-family: $futuraMd;
        font-weight: lighter;
      }

      p {
        font-size: $pMd;
        max-width: 30rem;
      }

      p:last-of-type {
        width: 100%;
        font-size: 1.875rem;
        text-align: start;
        font-family: $futuraHv;
      }
    }
  }

  .backgroundImage {
    z-index: 0;
  }
}
