@import "@/app/globals.scss";

.navBar {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 1rem 6rem;

  a {
    all: unset;
  }

  ul {
    display: flex;

    list-style: none;
    margin-left: 2rem;
    padding: 0;
  }

  li {
    color: $blue;
    margin-right: 2rem;
    word-wrap: break-word;
    cursor: pointer;
    font-size: 1rem;

    &.active {
      color: $red;
    }

    &:hover {
      font-size: 1.05rem;
    }

    :last-child {
      margin-right: 0;
    }
  }
}
