@import "@/app/globals.scss";

.container {
  width: 100vw;
  background-color: $gray;
  margin-top: 2.25rem;
  padding: 1.25rem 0 1.25rem 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  &.equalPadding {
    padding: 1.25rem;
    justify-content: center;
    gap: 1.25rem;
  }

  img {
    background-color: white;
    height: 5.375rem;
    width: 5.375rem;
    padding: 0.5rem;
  }

  @include mobile {
    padding: 1.25rem 0 1.25rem 1.25rem;
    margin-top: 3.25rem;
    margin-bottom: 3.75rem;
    margin-left: 0;
  }
}
