@import "@/app/globals.scss";

.sectionContainer {
  position: relative;
  min-height: 50vh;
  background-color: $light-gray;
  padding: 0 6.25rem 6.25rem 6.25rem;

  @include tablet {
    padding: 0 3.625rem 3.625rem 3.625rem;
  }

  @include mobile {
    padding: 0 1.75rem 1.75rem 1.75rem;
  }

  .loading {
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
