@import "@/app/globals.scss";

.sectionContainer {
  position: relative;
  min-height: 50vh;
  background-color: $light-gray;
  padding: 0 6.25rem 6.25rem 6.25rem;

  .loading {
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
