@import "@/app/globals.scss";

.container {
  background-color: white;
  padding: 1.125rem 1.063rem;
  margin-bottom: 1.375rem;

  .infoField {
    display: flex;
    margin-bottom: 0.875rem;
    p,
    svg {
      color: $dark-gray;
    }
    svg {
      margin-right: 0.5rem;
    }

    p {
      font-size: $pMd;
      margin: 0;
    }
  }

  :last-child {
    margin-top: 0.313rem;
  }

  h6 {
    font-size: 1.656rem;
    margin-top: 0;
    margin-bottom: 1.625rem;
  }
}
